ion-title {
    text-align: center;
}

ion-icon {
    font-size: 32px;
    margin: auto 5%;
   
}

.container {
    color: #333333;
    width: 95%;
    margin: auto;
}

h2 {
    font-size: 18px;
}

.esqueds {
    display: flex;
    justify-content: space-around;
}

.esquad {
    border-radius: 8px;
    border: 1px solid #F7661F;
    width: 44px;
    height: 63px;
}

img {
    margin-top: 15%;
}