<!--página PAGAR COMPRA-->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-tab [routerLink]="['/home']">
        <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-tab>
        <ion-title>
          Finalizar
        </ion-title>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <div class="container">
      <h3>Valide sua compra com um atendente</h3>
<img src="assets/qrcode-conf.svg" alt="">

</div>
</ion-content>