ion-title {
    text-align: center;
}

ion-icon {
    font-size: 32px;
    margin: auto 5%;
   
}

.block-two {
    margin-top: 5%;
    display: flex;
    color: #333333;
    justify-content: space-around;
    align-items: center;
}
.blocks-two {
    text-align: center;
}